<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/reception.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container mb-5">
          <%- include('../includes/queue_patients.ejs') %>
        </div>
        <%- include('../includes/rooms.ejs') %>
    </main>
<% -include('../includes/end.ejs') %>