<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%- include('../includes/list_patients.ejs') %>
    </main>
<% -include('../includes/end.ejs') %>