<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
          <li class="main-header__item">
              <a class="<%= path === '/admin/lobby' ? 'active' : '' %>" href="/admin/lobby">Lobby</a>
          </li>
          <li class="main-header__item">
              <a class="<%= path === '/admin/reception' ? 'active' : '' %>" href="/admin/reception">Recption</a>
          </li>
      </ul>
  </nav>
</header>


