<header class="main-header">
  <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
            <a class="<%= path === '/hospital/lobby' ? 'active' : '' %>" href="/hospital/lobby">Lobby</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === '/hospital/reception' ? 'active' : '' %>" href="/hospital/reception">Recption</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === '/admin/edit_lobby' ? 'active' : '' %>" href="/admin/edit_lobby">Edit Lobby</a>
        </li>
        <li class="main-header__item">
            <a class="<%= path === '/admin/edit_reception' ? 'active' : '' %>" href="/admin/edit_reception">Edit Recption</a>
        </li>
      </ul>
  </nav>
</header>


